@*
    Title of the story

    Topic

    Year the story took place (an integer)

    Text of the story

    Name of the submitter (AppUser)

    Date submitted
*@
@{
    ViewData["Title"] = "New Post";
}
@model ForumPost
<br />
<article class="text-center">
    <h1>@ViewData["Title"]</h1>
</article>
<hr />
<article class="d-flex justify-content-center">
    <form method="post">
        <h5>Title:</h5>
        <input type="text" name="ForumTitle" /> 
        <br />
        <h5>Descripton:</h5>
        <textarea name="ForumDescription"></textarea>
        <br />
        <h5>Your story:</h5>
        <textarea name="ForumText"></textarea>
        <br />
        <h5>Year this story happened:</h5>
        <input type="number" placeholder="2010" name="ForumYear" />
        <br />
        <h5>Name:</h5>
        <input type="text" name="ForumUser.Name" />
        <p class="text-danger">Text if something goes wrong.</p>
        <button type="submit">Submit</button>
    </form>
</article>