@*
    Title of the story

    Topic

    Year the story took place (an integer)

    Text of the story

    Name of the submitter (AppUser)

    Date submitted
*@
@{
    ViewData["Title"] = "New Post";
}
@model ForumPost
<br />
<section class="text-center">
    <h1>@ViewData["Title"]</h1>
</section>
<hr />
<article class="d-flex justify-content-center">
    <form class="" method="post">
        <label class="form-label" for="title">Title:</label>
        <input class="form-control" id="title" type="text" name="ForumTitle" />
        <br />
        <label class="form-label" for="description">Descripton:</label>
        <textarea class="form-control" id="description" name="ForumDescription"></textarea>
        <br />
        <label class="form-label" for="text">Your story:</label>
        <textarea class="form-control" id="text" name="ForumText"></textarea>
        <br />
        <label class="form-label" for="year">Year this story happened:</label>
        <input class="form-control" id="year" type="number" placeholder="2010" name="ForumYear" />
        <br />
        <label class="form-label" for="name">Name:</label>
        <input class="form-control" id="name" type="text" name="ForumUser.Name" />
        <p class="text-danger"></p><!--Text if something goes wrong.-->
        <button class="btn btn-outline-light" type="submit">Submit</button>
    </form>
</article>