@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 fw-bold text-uppercase fst-italic" style="font-family: Georgia, serif;">Foster <span class="display-5 fw-bold fst-normal" style="font-family: Impact, sans-serif, Arial;">The</span> People</h1>
    <h1 class="display-5 fw-light text-capitalize">Fan Site</h1>
    <p>A website about the musician and lead singer Mark Foster.</p>
</div>
<article>
    <ul>
        <li>
            <a class="text-lg-center text-white z-2" asp-area="" asp-controller="Home" asp-action="History">History</a>
        </li>
        <li>
            <a class="text-lg-center text-white z-2" asp-area="" asp-controller="Home" asp-action="Stories">Stories</a>
        </li>
    </ul>
</article>
<div class="container-fluid p-0 bg-dark position-relative">
    <img class="img-fluid overlay m-0" src="https://arc-anglerfish-arc2-prod-sltrib.s3.amazonaws.com/public/CXLNCPYWBZEYDPDJNQ2I7GUK7Y.jpg">
</div>
